# Ignore large data files

# virtualenvs
.idea
.DS_Store


# Shapefiles

*.dbf
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.qpj

# Raster
*.tif
*.tif.aux.xml
*.tiff


# INCLUDES EXCEL FILES!


# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Exclude packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip




